#slider {
  text-align: center;
  top: 10px;
}

#slider {
  margin: 0 auto;
}

#slides article {
  max-width: 767px;
  width: 20%;
  float: left;
  min-height: 700px;
  background-color: white;
}

#slides .image {
  width: 500%;
  // line-height: 0;
}

#overflow {
  width: 100%;
  overflow: hidden;
}

#desktop:checked ~ #slider {
  max-width: 960px;
}

label,
a {
  cursor: pointer;
}

.all input {
  display: none;
}

#switch1:checked ~ #slides .image {
  margin-left: 0;
}

#switch2:checked ~ #slides .image {
  margin-left: -100%;
}

#switch3:checked ~ #slides .image {
  margin-left: -200%;
}

#active label {
  border-radius: 10px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #bbb;
}

#active {
  margin: 5% 0 0;
  text-align: center;
}

#active label:hover {
  background: #76c8ff;
  border-color: #777 !important;
}

#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3) {
  background: #18a3dd;
  border-color: #18a3dd !important;
}

#slides .image {
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}
