.futureContainer {
  display: flex;
  max-width: 940px;
  margin: 49px auto 0 auto;
  justify-content: space-between;
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin: 0;
    max-width: 320px;
  }
  @media screen and (max-width: 767px) {
    // position: relative;
    display: block;
  }
}
.futureContainerText {
  max-width: 372px;
  @media screen and (max-width: 767px) {
    max-width: 312px;
    margin: 0 auto;
  }
}
.futureContainerText > p {
  font-family: TTNorms;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #383838;
  @media screen and (max-width: 767px) {
    // position: absolute;
    top: 350px;
  }
}
.futureContainer > img {
  max-width: 467px;

  margin: 0 auto 30px;
  display: block;
  max-width: 295px;
  max-height: 295px;
  box-shadow: 0 0 28px 6px rgba(216, 216, 216, 0.5);
}
.img {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
